[Unit]
Description=Dynamic IP DNS Check
After=network-online.target nss-lookup.target

[Timer]
Unit=dynip.service
OnBootSec=2m
OnUnitActiveSec=5m

[Install]
WantedBy=timers.target
