[Unit]
Description=Dynamic IP DNS Update
After=network.target nss-lookup.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'exec $DYNDNS_WORKING_DIR/dynip.py'
